h1 {
  text-align: center;
}

.mp-selector-container {
  display: flex;
  justify-content: center;
  grid-gap: 80px
}

.mp-detail-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  grid-gap: 80px
}
